.signup-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.signup-container .signup-items {
  width: 360px;
}
.signup-container .title {
  font-size: 25x;
  font-weight: bold;
  margin-bottom: 20px;
}
.signup-container form div {
  margin-top: 15px;
}

.signup-container form label span {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}
.signup-container form input {
  border: 1px solid #acacac;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
}
.signup-container form button {
  background-color: #006ce4;
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  color: white;
  border: none;
  font-size: 17px;
  letter-spacing: 4px;
}
